body {
    color: rgb(231, 220, 227);
    margin: 0px;
    padding: 10px;
    background-image: url('gym.jpg');
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.left img {
    width: 45px;
    padding: 12px;
}

.left div {
    text-align: center;
}

.mid {
    display: block;
    width: 45%;
    margin: 8px auto;
    border: 5px solid rgb(37, 11, 94);
    border-radius: 22px;
    color: aqua;
}

.right {
    display: inline-block;
    border: 5px solid rgb(37, 11,94);
    border-radius: 10px;
    padding: 10px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    font-size: 20px;
    display: inline-block;
}

.navbar li a {
    color: rgb(245, 244, 249);
    text-decoration: none;
    padding: 34px 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(15, 220, 227);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    margin: 5px 9px;
    background-color: black;
    color: white;
    padding: 3px 25px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(235, 35, 35);
}

.container {
    border: 2px solid rgb(207, 250, 207);
    margin: 57px 59px;
    padding: 75px;
    width: 35%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7);
}

.form-group input {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 450px;
    padding: 6px;
    border: 2px solid black;
    margin: 3px auto;
    border-radius: 23px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.separation {
    background-color: rgb(49, 48, 48);
    height: 9px;
}





.faq h1 {
    text-align: center;
    font-size: 45px;
}

.faqbox:hover {
    background-color: rgb(238, 14, 14);
}

.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 19px;
    max-width: 60vw;
    margin: 23px auto;
    cursor: pointer;
    font-size: 22px;
    border-radius: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .mid {
        width: 90%;
    }
    
    
    
    .navbar li a {
        padding: 10px 5px;
    }
    
    .form-group input {
        width: 90%;
    }
    
    .faqbox {
        max-width: 90vw;
        font-size: 18px;
    }
}
